{% extends "layouts/base.html" %}

{% block content %}

<h1 class="alt-full">{{ title }}</h1>

<div class="layout" data-layout="brussels">

<div>
{% if lede %}
{{ lede | markdown | safe }}
{% endif %}

{% for category in collections.faqCategories %}

<h3>{{ category }}</h3>
{% set categoryFaqs = collections.faqItems | filterFaqsByCategory(category) %}
{% for item in categoryFaqs %}
{% set faqId = "faq-" + item.fileSlug %}
<details class="item-faq">
<summary id="{{ faqId }}-question">{{ item.data.question }}</summary>
<div role="region" aria-labelledby="{{ faqId }}-question">
{{ item.data.answer | markdown | safe }}
</div>
</details>
{% endfor %}

{% endfor %}

</div>
</div>

{% endblock %}
