{% extends "layouts/base.html" %}

{% set postListItems = pagination.items %}

{% if tag %}
{% set postListItems = collections[tag] %}
{% set pageHeaderTitle = 'Blog posts filed under “' + tag + '”' %}
{% else %}
{% set pageHeaderTitle = title %}
{% endif %}

{% block content %}

<h1 class="alt-full">{{ pageHeaderTitle }}</h1>

{% if lede %}
{{ lede | markdown | safe }}
{% endif %}
{{ content | safe }}

<div class="layout" data-layout="athens">

<div data-content="posts">
{% include "partials/post-list.html" %}
</div><!-- one -->

<div>
<details>
<summary>Categories</summary>
<ul class="alt-">
{% for category in collections.postCategories %}
<li><a href="/blog/category/{{ category | slug }}/">{{ category }}</a></li>
{% endfor %}
</ul>
</details>

<hr>

<details>
<summary>Tags</summary>
<ul class="alt-">
{% for tag in collections.postTags %}
<li><a href="/blog/tag/{{ tag | slug }}/">{{ tag }}</a></li>
{% endfor %}
</ul>
</details>
</div><!-- two -->

</div><!-- layout -->

{% if not tag %}
{% include "partials/pagination.html" %}
{% endif %}

{% endblock %}
