{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<!-- HERO -->

<section id="hero">

<div></div><!-- one -->

<div>
<h1 data-visibility="hidden">{{ title }}</h1>

{% if lede %}{{ lede | markdown | safe }}{% endif %}

<div data-align-h="center">
<a href="/why-us">See how it works</a> &nbsp; <a href="javascript:void(0)" class="btn" data-variant="hero">Get started</a>
</div><!-- align -->

</div><!-- two -->

</section>



<!-- PLANNING SECTION -->

<section id="planning-section">

<div>
<img src="/images/index-2.webp" alt="">
</div><!-- one -->

<div>

<div>
{{ planning | markdown | safe }}

<hr>

<p data-align-h="center">
<a href="/why-us">Find out more</a> &nbsp; <a href="javascript:void(0)" class="btn" data-variant="dark">Get started</a>
</p>
</div>

</div><!-- two -->

</section>



<!-- CLARITY SECTION -->

<section id="clarity-section">

<div>
{{ clarity | markdown | safe }}

<div class="alt-statistics">
{% include "partials/statistics-list.html" %}
</div><!-- statistics -->

<div data-align-h="center">
<a href="javascript:void(0)" class="btn" data-variant="accent">Get started</a>
</div><!-- align -->
</div><!-- one -->

<div>

<div>
{% if clarityImageOne %}<img src="{{ clarityImageOne }}" alt="">{% endif %}
</div>

<div>
{% if clarityImageTwo %}<img src="{{ clarityImageTwo }}" alt="">{% endif %}
</div>

<div>
{% if clarityImageThree %}<img src="{{ clarityImageThree }}" alt="">{% endif %}
</div>

</div><!-- two -->

</section>



<!-- CASE STUDIES -->

<section id="case-studies-section">

<h2 data-align-h="center" data-size="3xl">Wedding stories</h2>

<div class="layout" data-layout="vienna">
{% include "partials/case-studies-list.html" %}
</div><!-- layout -->

</section>



<!-- CTA (DUAL) -->

{% include "partials/cta-dual.html" %}



{% if collections.blog and collections.blog.length %}
<section id="news-section">

<h2 data-align-h="center" data-size="3xl">The Wed Collective news</h2>

<div data-content="posts" style="padding-block-start: 0;">

{% for item in collections.blog %}
{% if loop.index0 < 4 %}
<article class="item-post">
<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
<p data-size="s">{{ item.data.postSummary }}</p>
</article>
{% endif %}
{% endfor %}

</div><!-- layout -->

</section>
{% endif %}

{% include "partials/footer.html" %}

<script src="{{ site.assetPath }}/js/scripts.js"></script>
</body>

</html>
