{% extends "layouts/base.html" %}

{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}

<h1 class="alt-full">{{ title }}</h1>

<div class="layout" data-layout="tallinn">

<div>

<p>{{ postSummary }}</p>

{{ content | safe }}

<hr>

<small class="item-meta">
{{ (date or page.date) | dateFilter }} •
{{ postAuthor }} &nbsp;
{% if postTags %}
{% for tag in postTags %}
<span class="alt-tag">{{ tag }}</span>
{% endfor %}
{% endif %}
</small>

</div><!-- one -->
</div><!-- layout -->

<hr data-function="spacer">

{% if recommendedPosts %}
{% set postListItems = recommendedPosts %}

<div data-content="posts">
{% include "partials/post-list.html" %}
</div><!-- layout -->
{% endif %}

{% endblock %}
