.case-studies-filters {
display: flex;
flex-wrap: wrap;
gap: var(--spacing-s);
list-style-type: none;
margin-block-end: var(--spacing-r);
padding-inline-start: 0; }

.case-studies-filters li {
margin-block-end: 0; }

.case-studies-filters li:before {
content: "";
display: none; }

.item-case-study img {
margin-block-end: var(--spacing-r); }
