{% set listedCaseStudies = caseStudyItems or collections.caseStudiesItems %}

{% for item in listedCaseStudies %}
{% if item.url != page.url %}
<article class="item-case-study" data-case-study-card data-case-study-categories="{% if item.data.categories and item.data.categories.length %}{% for category in item.data.categories %}{{ category | slug }}{% if not loop.last %} {% endif %}{% endfor %}{% endif %}">
{% if item.data.imgThumbnail %}
<a href="{{ item.url }}"><img src="{{ item.data.imgThumbnail }}" alt="{{ item.data.title }}"></a>
{% endif %}

<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>

{% if item.data.lede %}
<p>{{ item.data.lede }}</p>
{% endif %}

</article>
{% endif %}
{% endfor %}
