<head>

{% include "partials/meta.html" %}
{% include "partials/json-ld.html" %}

<meta name="theme-color" content="#000">
<meta name="robots" content="index, follow, noodp" />

{% if features.blog %}
<link rel="alternate" type="application/rss+xml" href="{{ site.assetPath }}/feed.xml" />
{% endif %}
{% if features.portfolio %}
<link rel="alternate" type="application/rss+xml" href="{{ site.assetPath }}/portfolio/feed.xml" />
{% endif %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/critical.css">
{% if features.blog %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/blog.css">
{% endif %}
{% if features.caseStudies %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/case-studies.css">
{% endif %}
{% if features.changelog %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/changelog.css">
{% endif %}
{% if features.faqs %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/faqs.css">
{% endif %}
{% if features.portfolio %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/portfolio.css">
{% endif %}
{% if features.services %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/services.css">
{% endif %}
{% if features.team %}
<link rel="stylesheet" href="{{ site.assetPath }}/css/team.css">
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">

</head>
